<!DOCTYPE html>
<html>
  <head>
    <title>ViewingPartyLite</title>
    <% flash.each do |type, msg| %>
      <div> <%= msg %> </div>
    <% end %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to "Home", root_path %> 
    <%= yield %>
  </body>
</html>
